---
layout: default
---
<div class="row">
  <main class="col-sm-9">
    {% include post/header.html %}
    <div class="post-area post">

      <article>
        {{content}}
      </article>
        <!-- share -->
      <div class="share">
        {% unless page.share == False %}
          <hr>
          {% include share.html%}
        {% endunless %}
      </div>
        <!-- previous and next page -->
      {% if page.previous.url %}
        <div class="previous_page">
          <a class="btn btn-more" href="{{page.previous.url}}"><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>&nbsp;{{page.previous.title}}</a>
        </div>
      {% endif %}

      {% if page.next.url %}
        <div class="next_page">
          <a class="btn btn-more" href="{{page.next.url}}"><span>&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></span>{{page.next.title}}
          </a>
        </div>
      {% endif %}
    </div>
    <p><br/></p>
    <div class="post-title">
      <h1>Comments</h1>
    </div>

    {% unless page.comments == False %}
    {% include comments.html %}
    {% endunless %}
  </main>

    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <!--<div id="myAffix" class="shadow-bottom-center hidden-xs" >-->
      <!--<div class="categories-list-header">-->
        <!--Content-->
      <!--</div>-->
      <!--<div class="content-text"></div>-->
    <!--</div>-->
  <aside class="col-sm-3">
    {% for aside in site.default_aside %}
      {% include {{aside}} %}
    {% endfor %}
  </aside>

  
</div>